
<%= link_to "Back", screens_path %>
<h1>Screen</h1>
<table class="table">
  <thead>
    <th>Screen Name</th>
    <th>Total Seats</th>
    <th>Cinema</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @screen.screen_name %></td>
        <td><%= @screen.total_seats %></td>
        <td><%= @screen.cinema.name %></td>
      </tr>
  </tbody>
</table>