
<%= link_to "Back", cinemas_path %>
<h1>Cinema</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Address</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @cinema.name %></td>
        <td><%= @cinema.address %></td>
      </tr>
  </tbody>
</table>